.todos-form {
  display: flex;
  justify-content: row;
  background-color: white;
  box-shadow: 2px 1px 5px #999999;

  .todos-form-input {
    width: 458px;
    height: 35px;
    outline: none;
    padding-left: 12px;
    border: none;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
  }

  .todos-form-button {
    width: 40px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-color: #66bb6a;
    color: white;
    font-size: 20px;
    appearance: none;
    -webkit-appearance: none;
  }
}

@media (max-width: 768px) {
  .todos-form {
    width: 330px;

    .todos-form-button {
      width: 70px;
    }
  }
}
