.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;

  .checkbox-and-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .rounded-checkbox {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid grey;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      margin-left: 12px;
    }

    .rounded-checkbox:checked {
      position: relative;
      clip-path: circle(50% at 50% 50%);
      background-color: #66bb6a;
      appearance: none;
      -webkit-appearance: none;

      &::before {
        content: "✓";
        color: white;
        position: absolute;
        left: 4px;
      }
    }

    .task-title {
      padding-left: 8px;
    }
  }

  .delete-button-icon {
    width: 15px;
    cursor: pointer;
    margin-right: 12px;
  }
}

.li-item {
  border-top: 1px solid lightgray;
}

.checked {
  text-decoration: line-through;
  color: lightgray;
}
